# Compiled binaries
*.o
*.out
bench_scale
fib_kinetic
pair_kinetic
build/
src/baselines/bucket
src/baselines/cal_q
src/baselines/cgal
src/baselines/idx
src/baselines/libk
src/baselines/pair
src/baselines/relax

# Junk
